body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.j {
    width: 150px;
    font-size: 45px;
    margin-right: 200px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    position: relative;
    overflow: hidden;
  }
  .j:before {
    content: '';
    position: absolute;
    left: 0.5em;
    height: 100%;
    width: 150%;
    background: #FFF;
    transition: left 1s;
  }
  
  .j:hover:before {
  left: 100%;
  }

h6 {
    display: inline;
    font-size: 24px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-left: 4%;
}
p 
{
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li 
{
    display: inline;
    margin-right: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
ul.posts 
{
     margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li 
{
    list-style: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}

span
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

img {
    width: 100px;
    height: 100px;
}
