<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            
            {{ content }}
            <div class="blurb">
                <h1>Lab 1</h1><p>Jaden Gonsalves</p><footer><ul>
                    <li>
                        <a href="https://github.com/jvdenn">github.com/jvdenn</a></li>
                        <li><a href="https://jvdenn.github.io">jvdenn.github.io </a></li></ul>
                    </footer>
                 <div>
                    <div class = "j"> Jaden</div>
                    
                    <h6> &#8593 hover me </h6>
                </div>
        </body>
    </html>
